#preview{
	display: none;
}
#edit-video-nav-container{
	position: relative;
	background: url('../img/red_button_bg.jpg') repeat-x top left;
	border: 8px solid #111;
	border-radius: 10px;	
}
#edit-video-nav-container p{
	font-family: 'Gotham-Bold', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	width: 16.66666666666%;
	display: block;
	position: absolute;
	top:0;
	line-height: 120px;
	text-align: center;
}
#edit-video-nav-container p:last-child{
	right: 0;
}
#edit-video-nav{
	margin:0;
	width: 66.66666666666%;
	margin-left: 16.66666666666%;
	padding:0;
	background: -moz-linear-gradient(top, #111111 0%, #444444 50%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(50%,#222222),color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,#111111 0%, #444444 50%, #111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #111111 0%, #444444 50%, #111111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #111111 0%, #444444 50%, #111111 100%); /* IE10+ */
	background: linear-gradient(to bottom, #111111 0%, #444444 50%, #111111 100%); /* W3C */
	border:none;
}
#preview video{
	max-width: 600px;
}
#preview,#preview_modal{
	text-align: center;
}
.tab-pane{
	position: relative;
}
#edit-video-nav li{
	position: relative;
	display: inline-block;
	margin:0;
	padding: 0 2px 0 0;
	border:none;
	width:25%;
}
#edit-video-nav li:last-child{
	padding-right:0px;
}
#edit-video-nav li span{
	display: block;
	padding:0;
	margin:0;
	height: 120px;

	/*background*/
	background: url('../img/gray_button_bg.jpg');
	background-position: top left;
	background-repeat: repeat-x;

	-webkit-box-shadow: 	inset 0px 0px 30px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 		inset 0px 0px 30px 0px rgba(0,0,0,.5);
	box-shadow: 			inset 0px 0px 30px 0px rgba(0,0,0,.5);
}

#edit-video-nav li span h1{
	font-size: 60px;
	color:#111 !important;
	padding:0;
	line-height: 120px;
	margin:0;
}

#edit-video-nav li.selected span{
	background-position: top left, center center;
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;

	-webkit-box-shadow:		inset 0px 0px 10px 0px rgba(0,0,0,.6);
	-moz-box-shadow:		inset 0px 0px 10px 0px rgba(0,0,0,.6);
	box-shadow:				inset 0px 0px 10px 0px rgba(0,0,0,.6);
}

#edit-video-nav li.selected h1{
	opacity: 0;
}
#edit-video-nav li.selected a{
	display: block;
}

#edit-video-nav li a{
	display: none;
	cursor: pointer;
	position: absolute;
	top:14px;
	right:10px;
	float: right;
	width: 24px;
	height: 24px;
	background: url('../img/pen.png') repeat-x top left;
}
#edit-video-nav li a:hover{
	background-image: url('../img/pen_over.png');
}




.thumbnail{
	background:none !important;
	padding: 0;
	position: relative;
	border-radius: 0 !important;
	border:none;
	margin-bottom: 10px;
	overflow: hidden;
}
.thumbnail.selected{
	background-color: #FF0000;
	border: 4px solid #FFFFFF;
}
.thumbnail.selected img{
	opacity: .8;
}
.thumbnail img{
	width:100%;
}
.thumbnail div.hover-state{
	position: absolute;
	text-align: center;
	bottom:-50px;
	width: 100%;
	background-color: #333;

	/*transition*/
	transition: bottom .3s;
	-webkit-transition: bottom .3s;
	border-top: 1px solid #111;
}
.touch .thumbnail{
	padding-bottom: 40px;
}
.touch .thumbnail div.hover-state{
	bottom:0;
}
.thumbnail div.hover-state p{
	font-family: 'Gotham-Bold', sans-serif !important;
	font-size: 12px;
	display: inline-block;
	width: 50%;
	line-height: 40px;
	background:none;
	margin:0 0 0 0;
	color: #CCC;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
}
.section{
	margin-top: 30px;
}
.thumbnail div.hover-state p.add-btn{
	border-left: 2px #555 solid;
}
.thumbnail div.hover-state p.preview-btn{
	border-right: 2px #222 solid;
}
.thumbnail:not(.selected):hover div.hover-state{
	bottom:0;
}
.thumbnail:not(.selected):hover p:hover{
	color: #dd3333;
	/*border-color:#d0211b !important;*/
}
#choose-videos-header{
	border-bottom: 3px solid #333;
	margin-bottom: 40px;
}
.modal-dialog {
	width: 100%;
	padding:18px 8px 8px 8px;
	margin-top:10px;
}
.modal-body {
	max-width: 600px;
	padding:0px !important;
	padding:10px;
}
.modal-content{
	position: relative;
	padding:0px !important;
	border:0;
	margin: auto;
	max-width: 600px;
}
.modal-close{
	text-decoration: none !important;
	font-size: 20px;
	background: #FFF;
	color: #000;
	position: absolute;
	right:8px;
	top:-16px;
	cursor: pointer;
}
.modal-close:hover{
	color: #FFF;
	background: #DD0000;
}
.modal-content{
	background: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#build{
	display: none;
	text-align: center;
}
#build button{
	font-size: 20px;
	font-family: 'Gotham-Bold', sans-serif !important;
	color: #000;
	background-color: #FFF;
	padding: 13px 14px 10px 14px;
}
#build button:hover{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
	background-color: #AA0000;
	border:rgba(25, 25, 25, 1) solid 6px;
	color: #FFF;
	border-radius: 6px;
	margin: -6px;
}
#build button span{
	margin-left: 10px;
}
#nav-container{
	display: inline-block;
	left: 50%;
	position: relative;
	margin-left: -90px;
}
#nav-container img#arrow{
	position: absolute;
	bottom:-3px;
	z-index: 1;
	left:10px;
	transition: left .3s;
	-webkit-transition: left .5s;
}
.nav-tabs {
	display: inline-block;
	border:none;
}
.nav-tabs li a{
	font-family: 'Gotham-Bold', sans-serif !important;
	border:none !important;
	background: none !important;
	margin:0 !important;
	padding:0px 4px !important;
	font-size: 60px !important;
	color:#990000 !important;
	margin-bottom: 28px !important;
	line-height: 38px !important;
}
	
.nav-tabs li.active a{
	font-size: 60px !important;
	color:#DD2222 !important;
}

/*smaller than 480*/
@media (max-width: 480px) {
	.modal-body {
		padding: 0px 0px 10px 0px;
	}
	.thumbnail div.hover-state{
		bottom:0;
	}
	#edit-video-nav-container p {
		font-size: 12px;
		font-family: 'Gotham-Book', sans-serif !important;
	}
	#edit-video-nav-container li h1 {
		font-size: 40px !important;
	}
}

/*smaller than 320*/
@media (max-width: 340px) {
	.thumbnail div.hover-state p{
		line-height: 30px;
		font-size: 10px;
		letter-spacing: .05em;
	}
	.touch .thumbnail{
		padding-bottom:30px;
	}
	#edit-video-nav-container p {
		font-size: 10px;
		font-family: 'Gotham-Light', sans-serif !important;
	}
	#edit-video-nav-container li h1 {
		font-size: 30px !important;
	}
}
