/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body{
	width: 100%;
	background-color: #000;
}
body{
	background-color: #000;
	background-image: url('../img/footer_bg.jpg'), url('../img/header_bg.jpg');
	background-repeat: no-repeat;
	background-position: center bottom, center top;
}
#ball{
	margin-top:-40px;
}
h1,h3,h2,h4{
	color:#FFF !important;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
h1{
	font-weight: 800;
	font-size: 40px;
	padding-bottom: 5px;
}
h4{
	font-size: 20px;
	color: #EEE !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
h2{
	font-size:28px;
	margin:20px 0 20px 0;
}
p{
	color:#FFF;
}
video{
	width: 100%;
	height: auto;
	border: 8px solid rgba(0,0,0,.4);
	border-radius: 4px;
	max-width: 600px;
}
#edit-video-nav-container{
	position: relative;
	background: rgba(180,20,20,1);

	-webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.7);
	box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.7);
}
#edit-video-nav-container p{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	width: 16.66666666666%;
	display: block;
	position: absolute;
	top:0;
	line-height: 80px;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#edit-video-nav-container p:last-child{
	right: 0;
}
#edit-video-nav{
	width: 66.66666666666%;
	margin-left: 16.66666666666%;
	padding:0;
	background: #333;
	border:none;
}
#edit-video-nav li{
	display: inline-block;
	margin:0;
	padding: 0 2px 0 0;
	border:none;
	width:25%;
	height: 100%;
}
#edit-video-nav li:first-child{
	padding-left:2px;
}
#edit-video-nav li a{
	color:#333;
	font-size: 50px;
	font-weight: 800;
	display: block;
	width: 100%;
	line-height: 80px;
	background-color: #222222;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
	box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
}
.up-triangle {
	display: none;
	position: absolute;
	bottom:0;
	left:0;
	width: 0; 
	height: 0; 
	border-bottom: 20px solid #CCC; 
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent; 
}

/*Override bootstrap*/
.container{
	max-width: 1200px;
	padding:10px;
}
.section, #choose-videos-header{
	padding-top: 40px;
}
#nav-container{
	width: 100%;
	text-align: center;
}
.nav-tabs {
	border:none;
	margin-left: auto;
	display: inline-block;
}
.nav-tabs li{
}
.nav-tabs li a{
	border:none !important;
	background: none !important;
}
.nav-tabs li h3{
	font-weight: 800;
	font-size: 50px;
	color:#D72D27 !important;
}
.nav-tabs li.active h3{
	color:#FFF !important;
}

.thumbnail{
	padding: 0;
	position: relative;
	border-radius: 0;
	border:none;
	margin-bottom: 10px;
	overflow: hidden;
}
.thumbnail img{
	width: 100%;
}
.thumbnail h4{
	display: inline-block;
}
.thumbnail div.hover-state{
	display: none;
	position: absolute;
	text-align: center;
	bottom:0;
	width: 100%;
	background-color: #333;
	/*transition: opacity .5s;
	-webkit-transition: opacity .5s;*/
}
.thumbnail div.hover-state p{
	font-size: 14px;
	display: inline-block;
	width: 50%;
	line-height: 40px;
	background:none;
	margin:0 0 0 0;
	color: #888;
	cursor: pointer;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
}
.thumbnail div.hover-state p.add-btn{
	border-left: 1px #888 solid;
}
.thumbnail div.hover-state p.preview-btn{
	border-right: 2px #111 solid;
}
.thumbnail:hover div.hover-state{
	display: block;
}
.thumbnail:hover p:hover{
	background:rgba(180,20,20,1);
	color: #FFF;
	/*border-color:rgba(180,20,20,1) !important;*/
}
.btn,.btn-default{
	background-color: #ccc;
	border-radius: 0;
	border:none;
	margin:0;
	padding:0;
}
.modal-dialog {
	width: 90%;
}
.modal-body {
	padding:10px;
}
#header{
	padding-top: 380px;
	border-bottom: 4px solid #333;
	text-align: center;
	margin-bottom: 40px;
}
#header h1{
	font-weight: 600;
	font-size: 48px !important;
	text-transform: uppercase;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
	margin:0;
	padding: 0;
}
#header p{
	color: #AAA;
	padding-top: 30px;
	max-width: 700px;
	display: block;
	text-align: center;
	margin:auto;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
#footer{
	min-height: 500px;
}
#preview,#preview_modal{
	text-align: center;
}
.modal-content{
	background: none;
	border-radius: 0;
	-webkit-box-shadow: none;
box-shadow: none;
}

/*smaller than 480*/
@media (max-width: 640px) {
	.modal-dialog {
		width: 100%;
	}
	.modal-body {
		padding: 0px 0px 10px 0px;
	}
}

/*bigger than 960*/
@media (min-width: 960px) {
	.modal-dialog {
		width: 70%;
	}
}