/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body{
	width: 100%;
	background-color: #000;
}
body{
	background-color: #000;
	background-image: url('../img/footer_bg_1200.jpg'), url('../img/header_bg_1200.jpg');
	background-repeat: no-repeat;
	background-position: center bottom, center top;
	padding-bottom: 300px;
	padding-top:360px;
	font-family: 'Gotham-Light', sans-serif !important;
}
h1,h3,h2,h4{
	color:#FFF !important;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'Gotham-Bold', sans-serif !important;
}
h1{
	font-size: 49px;
	padding-bottom: 5px;
}
h2{
	font-size:28px;
	margin:20px 0 20px 0;
}
h4{
	font-size: 18px;
	color: #EEE !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
p{
	font-size: 16px;
	color:#FFF;
}
.btn,.btn-default{
	background-color: #ccc;
	border-radius: 0;
	border:none;
	margin:0;
	padding:0;
}
#header img#logo{
	padding-bottom: 6px;
}
#header h1{
	text-transform: uppercase;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
	margin:0;
	padding: 0;
}
#header p{
	color: #CCC;
	padding-top: 30px;
	max-width: 700px;
	display: block;
	text-align: center;
	margin:auto;
	line-height: 26px;
	padding: 0 10px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
video{
	width:100%;
	height: auto;
	border: 8px solid rgba(0,0,0,.4);
	border-radius: 4px;
}
/*Override bootstrap*/
.container{
	max-width: 1200px;
	padding:10px;
}
.iphone video{
	width: 300px;
	height: 300px;
}
.ipad video{
	width: 600px;
	height: 600px;
}
#ball{
	position: absolute;
	left:50%;
	margin-left: -160px;
	top:10px;
}
#choose-videos-header{
	padding-top:20px;
}

#share-nav{
	padding:0;
}
#share-nav li{
	position: relative;
	display: inline-block;
	padding: 0 2px 0 0;
	border:none;
	width:90px;
	height: 90px;
	margin:0;
	background-position: top left;
	background-repeat: no-repeat;
	background-position-y:-90px; 
	cursor: pointer;
}
#share-nav li:hover{
	background-position-y:0px; 
}
#share-nav li#facebook-btn{
	background-image: url('../img/facebook_share.png');
}
#share-nav li#twitter-btn{
	background-image: url('../img/twitter_share.png');
}

.play-controls{
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -148px;
	margin-top: -49px;
	z-index: 2;
}

.play-controls a.glyphicon-play{
	color:#CC3333;
	background:rgba(200,200,200,.5);
	display: inline;	
	font-size: 140px;
	text-decoration: none !important;
	cursor: pointer;
	padding: 60px 65px 60px 85px;
	text-align: left;
	border-radius: 200px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.play-controls a.glyphicon-play:hover{
	background:#CC3333;
	color: #FFF;
}

.ios .play-controls a{
	display: none;
}

/*smaller than 768*/
@media (max-width: 768px) {
	#ball{
		width: 300px;
		height: auto;
		margin-left: -150px;
		top:-60px;
	}
	body{
		background-image: url('../img/footer_bg_1200.jpg'), url('../img/header_bg_768.jpg');
		padding-top:240px;
	}
}

/*smaller than 480*/
@media (max-width: 480px) {
	.play-controls{
		margin-left:-94px;
		margin-top:-59px;
	}
	.play-controls a.glyphicon-play{
		padding:10px 15px 10px 33px;
	}
	#ball{
		top:-140px;
	}
	#header h1	{
		font-size: 34px !important;
	}
	#header p{
		font-size: 12px;
		line-height: 20px;
	}
	body{
		background-image: url('../img/footer_bg_1200.jpg'), url('../img/header_bg_480.jpg');
		padding-top:170px;
	}
}

/*smaller than 320*/
@media (max-width: 340px) {
	#ball{
		width: 280px;
		height: auto;
		margin-left: -140px;
		top:-118px;
	}
	body{
		padding-top:174px;
	}
	#header h1{
		font-size: 30px !important;
	}
	body{
		background-image: url('../img/footer_bg_1200.jpg'), url('../img/header_bg_480.jpg');
		padding-top:170px;
	}
	video{
		width: 300px;
		height: 300px;
	}
}



